<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | Seu blog de tecnologia</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <a href="/">
            <img src="/img/logo_techblog.svg" alt="Logo Techblog" class="app-logo">
        </a>

        <div class="search">
            <form action="/search">
                <label for="search" class="search-label">
                    <img src="/img/search.svg" alt="Pesquisar">
                </label>
                <input type="text" name="search" id="search">
            </form>
        </div>
    </header>