.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  .logo {
    padding: 10px;
    img {
      max-width: 200px;
    }
  }
}