<%- include('includes/head.ejs') %>

    <div class="top-container">
      <div class="container-text">
        <h1>Adicionar novo post</h1>
      </div>
    </div>

    <div class="form-container">
      <form class="form" method="POST" action="/posts/add" enctype="multipart/form-data">
        <div class="input-container">
          <label for="title">Título</label>
          <input type="text" name="title" id="title">
        </div>
        <div class="input-container">
          <label for="image">Foto do artigo</label>
          <input type="file" name="image" id="image">
        </div>
        <div class="input-container">
          <label for="description">Descrição</label>
          <input type="text" name="description" id="description">
        </div>
        <div class="input-container">
          <label for="text">Texto</label>
          <textarea name="text" id="text"></textarea>
        </div>
        <button name="submitButton" class="submitButton">Adicionar</button>
      </form>
    </div>

    
<%- include('includes/footer.ejs') %>