<%- include('includes/head.ejs') %>

    <div class="top-container">
        <h1>Seu portal de notícias de tecnologia favorito</h1>

        <img src="/images/banner.png">
    </div>

    <div class="container">
        <div class="blog-post">Um post de blog</div>
    </div>

    
<%- include('includes/footer.ejs') %>