<%- include('includes/head.ejs') %>

    <div class="top-container">
        <div class="container-text">
            <h1>A página que você está procurando não existe :(</h1>
            <p>Clique <a href="/">aqui</a> para voltar à página inicial.</p>
        </div>
        <div class="container-img">
            <img src="/img/404.svg" alt="Erro 404.">
        </div>
    </div>
    
<%- include('includes/footer.ejs') %>