<%- include('includes/head.ejs') %>

    <div class="top-container">
        <h1>Página de Single Post</h1>

        <img src="/images/banner.png">
    </div>

    
<%- include('includes/footer.ejs') %>