@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
}

.header .logo {
  padding: 10px;
}

.header .logo img {
  max-width: 200px;
}

.header .search {
  padding: 10px;
  position: relative;
}

.header .search .search-label {
  position: absolute;
  top: 17px;
  left: 16px;
}

.header .search .search-input {
  padding: 7px 10px 7px 30px;
  outline: none;
  border: 2px solid #282828;
  border-radius: 20px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #282828;
  transition: border .2s;
}

.header .search .search-input:hover, .header .search .search-input:focus {
  border: 2px solid #FF6A1D;
}

.hero {
  margin: 0 auto;
  padding: 60px 0;
  max-width: 960px;
  display: flex;
  justify-content: space-between;
}

.hero .hero-text {
  padding: 0 10px;
  max-width: 400px;
}

.hero .hero-text::after {
  content: '↓';
  color: #FF6A1D;
  margin-left: 15px;
  font-size: 30px;
  animation: arrow .9s linear 0s infinite alternate;
  display: inline-block;
}

.hero .hero-text h1 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 2.25em;
  line-height: 1;
  color: #282828;
  font-weight: bold;
  margin-bottom: 16px;
}

.hero .hero-text p {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.125em;
  color: #707070;
  margin-bottom: 70px;
}

.hero .hero-text a {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.125em;
  font-weight: bold;
  color: white;
  background-color: #FF6A1D;
  padding: 15px 20px;
  border-radius: 50px;
  display: inline-block;
  transition: background-color .2s;
}

.hero .hero-text a:hover {
  background-color: #f35300;
}

.hero .hero-img {
  padding: 0 10px;
  max-width: 467px;
}

@keyframes arrow {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}

.top-container {
  margin: 0 auto;
  padding: 40px 0;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-container .container-text {
  text-align: center;
  margin-bottom: 30px;
}

.top-container .container-text h1 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.875em;
  color: #282828;
  font-weight: bold;
}

.top-container .container-text p {
  margin-top: 12px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #282828;
}

.top-container .container-text p a {
  color: #FF6A1D;
}

.top-container .container-text p a:hover {
  text-decoration: underline;
}

.top-container img {
  max-width: 600px;
}

.footer {
  background-color: #282828;
  padding: 30px 10px;
  text-align: center;
}

.footer p {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.125em;
  color: #F3F3F3;
}

.footer p a {
  color: #FF6A1D;
}

.footer p a:hover {
  text-decoration: underline;
}
